<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <table>
    <tr>
      <td>Tên cuốn sách: </td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Tác giả: </td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Mô tả: </td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="submit">Tạo mới</button> <button routerLink="/books">Thoát</button></td>
    </tr>
  </table>
</form>
